@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap");

@import "tailwindcss";

@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredstrategy: "pseudoelements";
}

body {
  /* background-color: #2D0A47; */
  /* background-color: #3a2317; */
  /* background: linear-gradient(to bottom, #22427D, #254B8C); */
background: 
  /* radial-gradient(ellipse at top right, rgba(96, 165, 250, 0.3) 0%, transparent 50%),
  radial-gradient(ellipse at bottom left, rgba(59, 130, 246, 0.4) 0%, transparent 50%),
  linear-gradient(135deg, #1e40af 0%, #3560a5 40%, #4d96f0 100%); */
  #e7eaf4
}

@theme {
 
  --color-light-bg-gray: #e7eaf4;
  --color-light-main-blue:#0061ff;
  --color-light-text-dark: #222539;
  --color-light-text-dull-01:#5b6068;
  --color-light-text-dull-02:#a5a7ab;



  --color-yellow-01: #f3f5f9;
  --font-lucky: Luckiest Guy, "sans-serif";
  --font-dynapuff: Gabarito, "sans-serif";
}
