@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: 'Roboto', sans-serif;
  background-color: #111721;
  color: aliceblue;
  margin: 0;
  padding: 0;
}

@theme {
 
  --color-light-bg-gray: #e7eaf4;
  --color-light-main-blue:#0061ff;
  --color-light-text-dark: #222539;
  --color-light-text-dull-01:#5b6068;
  --color-light-text-dull-02:#a5a7ab;

  --color-dark-black: #111721;
  --color-dark-gray: #1e293b;
  --color-dark-blue: #1661da;
  --color-dark-white:#fdfdfd;
  --color-dark-green: #1c964d;

  



  --color-yellow-01: #f3f5f9;
  --font-lucky: Luckiest Guy, "sans-serif";
  --font-dynapuff: Gabarito, "sans-serif";
}
